div
{
    vertical-align: middle;
    text-align: center;
    line-height:100px;
    transition: width 2s;
    transition-timing-function: ease;
}
body > div > div:nth-child(1) 
{
    position: absolute;
    top:0;
    width: 150px;
    height: 100px;
    background-color: lightgreen;
    border: 2px solid black;
}
body > div > div:nth-child(2) 
{
    position: absolute;
    top: 102px;
    margin-left: 152px;
    width: 150px;
    height: 100px;      
    border: 2px solid black;
    background-color: rgb(144, 235, 238);
}
body > div > div:nth-child(3) 
{
    position: absolute;
    margin-left: 303px;
    top: 203px;
    width: 150px;
    height: 100px;      
    border: 2px solid black;
    background-color: lightpink;
}
body > div > div:nth-child(4) 
{
    position: absolute;
    margin-left: 455px;
    top: 307px;
    width: 150px;
    height: 100px;      
    border: 2px solid black;
    background-color:lightskyblue
}
body > div > div:nth-child(5) 
{
    position: absolute;
    top: 307px;
    left: 620px;
    width: 150px;
    height: 100px;      
    border: 2px solid black;
    background-color: lightsalmon;
}
body > div > div:nth-child(6) 
{
    position: absolute;
    top: 203px;
    left: 774px;
    width: 150px;
    height: 100px;      
    border: 2px solid black;
    background-color: lightgoldenrodyellow;
}
body > div > div:nth-child(7) 
{
    position: absolute;
    top: 102px;
    left: 925px;
    width: 150px;
    height: 100px;      
    border: 2px solid black;
    background-color: lightgrey
}
body > div > div:nth-child(8) 
{
    position: absolute;
    top: 0px;
    left: 1080px;
    width: 150px;
    height: 100px;      
    border: 2px solid black;
    background-color: lightgreen;
}
body > div > div:nth-child(9)
{
    position: absolute;
    left: 535px;
    top: 457px;
    width: 150px;
    height: 100px;       
}     
      